*
.*
!scripts
!scripts/*
!report/
!report/*
!Snakefile
!schemas
!schemas/*
!config.yaml
!cluster.json
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!assets
!assets/*
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.travis.yml
!.test
!.test/*
!.test_pdna_only
!.test_pdna_only/*
!.test_sample_barcode
!.test_sample_barcode/*
